<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund My Project!</title>
    {{!-- Bulma CDN --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login_style.css">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            {{!-- Logo --}}
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/images/HAM-logo.png" id="logo-img">
                </a>

                {{!-- Visibility of hamburger menu for touch devices --}}
                <a role="button" class="navbar-burger navbar-toggle" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            {{!-- Links --}}
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item">Dashboard</a>
                    <a class="navbar-item">Profile</a>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

{{!-- jQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/script.js"></script>
</body>

</html>