<section class="section">
    <div class="container">

        {{#if departments.length}}

        <h3 class="title has-text-centered is-size-4">Please select the department for which you want to schedule an
            appointment for</h3>
        <div class="columns mt-5 is-8 is-variable is-multiline">
            {{#each departments as |department|}}
            <div class="column is-4-tablet is-4-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <figure class="image is-4by3">
                            <img class="is-rounded" src="./assets/images/{{department.name}}.jpeg"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <button id='{{department.id}}' class="dptmentBtn">
                            <span id='{{department.id}}' class="deptBtnName title is-4">{{department.name}}</span>
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>

</section>