<body>
<header>
  <h1 class="mytitle">Appointment Manager</h1>
</header>
  <section class="columns">
    <div class="column is-one-quarter middle">
      <div class="box">
        <h2 class="title is-4">Login</h2>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
          </div>
          <input class="input" type="text" placeholder="Email">
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
          </div>
          <input class="input" type="text" placeholder="Password">
        </div>
        <button class="button is-info">Login</button>
      </div>
    </div>
  </section>

  <!-- <script src="script.js"></script> -->
  </body>