html,
body {
    width: 100%;
    height: 100%;
}

/* Logo image */
#logo-img {
    height: auto;
    width: auto;
    max-width: 70px;
    max-height: 70px;
    padding-left: 10px;
}

/* Main container of the profile page */
.profile {
    max-width: 60%;
    margin: 0 auto;
}